.forecast {
    margin-top: 2rem;
    color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    /*height: 30rem;*/

    .forecast-week {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .forecast-week-day {
            font-size: 2rem;
            text-align: center;
        }

        .forecast-week-temperature {
            font-weight: 700;
            word-spacing: 2rem;
        }
    }
}


@media (max-width: 768px) {
    .forecast {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
}