main {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    color: white;

    .weather-info {
        width: 100%;
        max-width: 55%;

        & > * {
            margin-bottom: 1rem;
        }

        .weather-info-description {
            font-size: 3rem;
            font-weight: 600;
            text-transform: capitalize;
        }

        .weather-info-temp {
            font-size: 3rem;
            font-weight: 800;
        }

        .weather-info-icon {
            width: 4rem;
        }
    }

    .weather-details-container {

        .weather-details {
            display: flex;
            margin-bottom: 1.5rem;

            .weather-details-icon {
                width: 2rem;
                padding-right: 1rem;
            }

            .weather-details-info {
                align-items: center;

               .weather-details-label {
                   text-align: center;
                   font-weight: 600;
                    font-size: 1.4rem;
               }

               .weather-details-data {
                font-size: 2.3rem;
               }
            }
        }
    
    }
}