.search-box {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    
    #search {
        outline: none;
        border: none;
        padding-left: 1rem;
        background: transparent;
        border-bottom: 2px solid #ffffff;
    }

    .search-glass {
        width: 1rem;
        background-image: url(/src/assets/search-icon.png);
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
        border-bottom: 2px solid #ffffff;
    }
}